* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: #000;
    opacity: .6;
    text-decoration: none;
    transition: opacity .3s ease-in-out;
    &.router-link-active {
        opacity: 1;
    }
    &:hover {
        opacity: 1;
    }
}
